#navhome{
    background-color: #ee56e1!important;
}


@media (max-width: 767.98px) {
    #navbar{
        background-color: #ee56e1!important;
    }
    #navhome{
        background-color: #ee56e1!important;
    }
    a{
        color: white!important;
    }
}
